<h1>Repository Path: <%= @git_repository.path %></h1>

<div id="main">
<%= link_to "Prev", [@git_repository, @prev_commit], class:"prev-button" %><h2 id="hash">SHA: <%= @commit.object_hash %></h2><%= link_to "Next", [@git_repository, @next_commit], class:"next-button" %>
</div>

<% @commit.git_files.each do |file| %>
<h3><%= file.filename %></h3>
  <% file.file_lines.each do |line| %>
    <%= render partial: "line", locals: {line: line} %>
  <% end %>
<% end %>

<p>
<button class="delete-button">
<%= link_to "Delete Repository", git_repository_path(@git_repository),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</button>
</p>
